.icon{
	margin: auto; 
	padding-left: 10px;
	color: white;
	font-size: 20px;
}

.header-center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	display: inline-block;
	width: 780px;
}
      .logo{
        width: 400px;
         height: 320px;
         background-image: url('logo1_new.png'); 
         background-size: cover;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
    -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
  animation: mymove 3s;
  animation-iteration-count: 50;

      }

      @-webkit-keyframes mymove {

        0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
           100% {
            transform: scale(0.5);
            -webkit-transform: scale(0.5);
        }
}

@keyframes mymove {
     0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
           100% {
            transform: scale(0.5);
            -webkit-transform: scale(0.5);
        }


 
}

  h1.fittext {
  margin-bottom: 10px;
  font-weight: 500;


}
@media only screen and (max-width: 600px) {
	h1.fittext {
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 20px;
		
	  }
  }
  @media only screen and (max-width: 600px) {
	.fittext2 {
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 20px;
		
	  }
  }

 

.fittext2 {
	margin-bottom: 8px;
	font-weight: 500;
	line-height: 100%;
	font-size: 7vw;
  }
h1.fittext1 {
  margin-bottom: 10px;
  font-size: 70px;
  font-weight: 400;
  line-height: 100%;
}
  h1.uppercase {

    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .uppercase {

    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .fittext {
  margin-bottom: 5px;
  font-size: 70px;
  font-weight: 500;
  line-height: 100%;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: #17181a
}
.query{
  font-size: 28px;
  font-weight: 200;
  color: white;
}
.stunning_text {
	margin: 0 0 40px;
}
.stunning_text p {
	margin: 30px auto 0;
	color: #858585;
	font-size: 13px;
	line-height: 21px;
	text-align:center
}
.stunning_text h4 {
	text-align: center;
	letter-spacing: 2px;
	font-size: 13px;
	text-transform: uppercase;
	font-family: "museo_sans_500", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 20px;
	margin: 22px auto 0;
	overflow: hidden;
	color: #666;
	font-weight: 500;
}
.stunning_text h4.first-title {
	margin: 0 auto 20px
}
.stunning_text h4 span {
	padding: 0 15px;
	display: inline-block;
	position: relative;
}
.stunning_text h4.first-title span:before,
.stunning_text h4.last-title span:before {
	content: "";
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 350px;
	left: -350px;
	top: 50%;
	background: #ddd;
	margin-top: -1px
}
.stunning_text h4.first-title span:after,
.stunning_text h4.last-title span:after {
	content: "";
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 350px;
	right: -350px;
	top: 50%;
	background: #ddd;
	margin-top: -1px
}
.stunning_text .big-title {
	text-align: center;
	display: block;
	clear: both
}
.stunning_text .big-title > div {
	display: inline-block;
	overflow: hidden;
}
.stunning_text .big-title > div > span {
	display: inline-block;
	font-size: 29px;
	line-height: 110%;
	margin: 0;
	color: #555;
	letter-spacing: 3px;
	font-family: "museo_sans_500", "Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
	text-transform: uppercase;
	font-weight: 400;
	-webkit-font-smoothing: antialiased!important;
}
.stunning_text .big-title.extra-large-text > div > span {
	font-size: 2em;
	font-family: "museo_sans_500 A", "Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
	color: #555;
	letter-spacing: 4px
}
.stunning_text.style2 h4.first-title {
	max-width: 90%
}
.stunning_text.style2 .big-title > div > span {
	padding-bottom: 30px;
	position: relative
}
.stunning_text.style2 .big-title > div > span:after {
	content: "";
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 90%;
	margin-left: 5%;
	background: #ddd;
}
.stunning_text.style2 p {
	margin-top: 30px
}

.link{
	color: red;
}

.try{
	width: 80%;
	height: 80%;
	border: 1px solid dotted;
	color: #ddd;
	margin: auto;
}

.footer{
	background-color: black;
	color: white;
	width: 100%;
	margin-top: 20px;
	text-align: center;
	padding: 20px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

